{% extends "generic_moderate.html" %}
{% block moderate %}
    <small class="pull-right">Vom: {{ post.date }}</small>
    <small>Von: {{ post.author }}</small>

    {{ post.html|safe }}

    <form action="/moderate/{{ path }}" method="post" ng:submit="submit($event)">
        {{ form.hidden_tag() }}

        {{ form.title.label }}
        {{ form.title }}

        {{ form.author.label }}
        {{ form.author(placeholder='Anonymous') }}

        {{ form.date.label }}
        {{ form.date }}

        {{ form.content.label }}
        {{ form.content(rows=15, required='') }}

        <input type="submit" name="update" value="&#9398;ktualisieren">
    </form>
{% endblock %}
