# Contact form
MAIL_SERVER = "your.mail.server"
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USERNAME = 'support@example.net'
MAIL_PASSWORD = 'SECRET PASSWORD'

MAIL_RECV_MODERATE = 'mail@example.com'
MAIL_RECV_CONTACT = 'mail@example.com'

CUSTOM_PAGES = [
    ('/about/', 'about.html')
]

# Blog Form
DEBUG = True
SELF = 'http://127.0.0.1:5000'
FLATPAGES_AUTO_RELOAD = DEBUG
FLATPAGES_EXTENSION = '.md'
FLATPAGES_ROOT = 'content'
POST_DIR = 'posts'
DRAFT_DIR = 'drafts'

# Mail Subject an content (keep the %s)

# Articles
TEXT_SUBJECT_MODERATE_ARTICLE = 'Bitte moderiere Artikel: %s'
TEXT_BODY_MODERATE_ARTICLE = '''Es wurde ein neuer Atikel verfasst.
Bitte logge dich auf %s ein um zu moderieren.'''
TEXT_SUBJECT_RELAESE_ARTICLE = 'Artikel freigegeben: %s'
TEXT_BODY_RELEASE_ARTICLE = '''Der Artikel [blah] wurde freigegeben.'''
TEXT_SUBJECT_DELETE_ARTICLE = 'Artikel gelöscht: %s'
TEXT_BODY_DELETE_ARTICLE = '''Der Artikel [blah] wurde gelöscht.'''

# Events
TEXT_SUBJECT_MODERATE_EVENT = 'Bitte moderiere Termin: %s'
TEXT_BODY_MODERATE_EVENT = ''''Es ist ein neuer Termin erstellt worden.
Bitte logge dich auf %s ein um zu moderieren.'''
TEXT_SUBJECT_RELAESE_EVENT = 'Termin freigegeben: %s'
TEXT_BODY_RELEASE_EVENT = '''Der Termin [] wurde freigegeben.'''
TEXT_SUBJECT_DELETE_EVENT = 'Termin gelöscht: %s'
TEXT_BODY_DELETE_EVENT = '''Der Termin [] wurde gelöscht.'''

# Generic (Material)
TEXT_SUBJECT_MODERATE_GENERIC = 'Bitte moderiere Bedarf: %s'
TEXT_BODY_MODERATE_GENERIC = '''Es ist ein neuer Bedarf erstellt worden.
Bitte logge dich auf %s ein um zu moderieren.'''
TEXT_SUBJECT_RELAESE_GENERIC = 'Bedarf freigegeben: %s'
TEXT_BODY_RELEASE_GENERIC = '''Der Bedarf [] wurde freigegeben.'''
TEXT_SUBJECT_DELETE_GENERIC = 'Bedarf gelöscht: %s'
TEXT_BODY_DELETE_GENERIC = '''Der Bedarf [] wurde gelöscht.
