@font-face {
  font-family: 'Cella';
  font-style: normal;
  src: local('Cella'), url(Cella.otf) format('opentype');
}

@font-face {
  font-family: 'Old';
  font-style: normal;
  font-weight: 400;
  src: local('Old'), url(Old.ttf) format('truetype');
}

[ng-cloak] {
    display: none !important;
}

body {
    margin: 0;
    padding: 0;
    color: #280211;
    background-color: #9fa196;
    font-family: 'Cella', sans-serif;
}

.container {
    min-width: 300px;
    max-width: 800px;
    margin: 20px auto;
}

.quote {
    width: 50%;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Old', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header, footer {
    font-family: 'Old', sans-serif;
    text-align: center;
    background-color: #dfe5e2;
    text-transform: uppercase;
}

header h1 {
    font-size: 100px;
    margin: 0;
    padding: 10px;
    letter-spacing: 5px;
}

.first-red::first-letter {
    color: #c10800;
}

header h1 a {
    color: #280211;
}

header h1 a:hover {
    color: #c10800;
    text-decoration: none;
}

header h1 a:focus {
    color: #280211;
    text-decoration: none;
}

footer a {
    font-size: small;
}

nav {
    background-color: #280211;
    font-size: 20px;
}

header nav {
    border-top: 4px solid #c10800;
}

footer nav {
    border-bottom: 4px solid #c10800;
}

nav ul {
    margin-bottom: 0px;
}

nav a, nav a {
    color: #dfe5e2;
}

nav a:hover, nav a:focus {
    color: #c10800;
}

nav a:hover {
    text-decoration: none;
}

#loading-bar .bar{
    background: #280211;
}

#loading-bar .peg{
    -moz-box-shadow: #280211 1px 0 6px 1px;
    -ms-box-shadow: #280211 1px 0 6px 1px;
    -webkit-box-shadow: #280211 1px 0 6px 1px;
    box-shadow: #280211 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon{
    border-top-color: #280211;
    border-left-color: #280211;
}

article, .content {
  background-color: #dfe5e2;
  padding: 10px 20px;
  word-wrap: break-word;
}

.content hr {
  border-color: black;
}

article h2 {
    font-family: 'Cella', sans-serif;
    letter-spacing: -1px;
    font-size: 20px;
}

article p {
    padding: 0 0 0 15px;
}

article a {
    font-family: 'Old', sans-serif;
    letter-spacing: 5px;
    color: #280211;
    text-decoration: none;
}

article a:hover {
    color: #c10800;
    text-decoration: none;
}

.art-date {
  text-align: right;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
  margin: 0;
}

input {
    width: 100%;
    margin: 10px 0px;
}

form input#submit {
    border:1px solid #280211;
    padding: 10px;
    font-weight:bold;
    text-align: center;
    color: #280211;
    background-color: #efefef;
}

form input#submit:hover{
    background-color: #dbdbdb;
}


textarea {
    width: 100%;
}

/* Message flashing */
.flash {
  background-color: #6B0F1A;
  padding: 10px;
  width: 400px;
}
