{% extends "layout.html" %}
{% block content %}
  <article>
    <h1>ACHTUNG!</h1>
    <h2>ATOPIE ist ausgebrochen!</h2>
    <p>Was im Juni 2014 als Experiment von Dr. K. Labrador begann, verselbständigt sich unkontrolliert.</p>
    <p>Aus den anfänglichen Studien und Versuchsanordnungen expandierte sich der Wille zur Intervention. Augenblicklich fortentwickelt sich ein wucherndes Gebilde, das die Stadt einnimmt und den Freiraum infiltriert. Eine dynamische lose Gruppe von Menschen ist bereits infiziert. Wie viele noch betroffen werden bleibt unklar. Niemand kann vorhersehen was passieren wird, geschweige denn wer dafür verantwortlich ist.</p>
    <p>Neusten Erkenntnissen zufolge kommen unaufhaltsam mehr KünstlerInnen, Stadtentwicklungsverdrängte, UtopistInnen, KuratorInnen, Autoritätsungläubige, SelbstdenkerInnen, TraumverwirklicherInnern, Meinungsäussernde, AnarchistInnen und anders Überzeugte hinzu und stellen fest, dass zunehmend Raum von finanzstarken Grosskonzernen beansprucht und dadurch günstiger Wohn­ und Lebensraum verdrängt wird.</p>
    <p>Die atopische Mutation beansprucht Raum für Gesellschaft, Kultur und alternative Lebensformen. ATOPIE will Platz zum leben und leben lassen, sowie ohne Konsumzwang und kommerziellen Nutzen existieren.</p>
  </article>
{% endblock %}
