{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="content">
    {% if success %}
        <h2>Danke für Deinen Beitrag!</h2>
        <p>Dein Beitrag wird jetzt von der Redaktion geprüft und wenn alles in Ordnung ist veröffentlicht.</p>
    {% else %}
        <h2>Contribute</h2>
        <p>Submit your Ideas</p>

        <form action="/contribute/" method="post" ng:submit="submit($event)">
            {{ form.hidden_tag() }}

            {% for message in form.author.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.author.label }}
            {{ form.author(placeholder='Anonymous', **{'ng-model': 'data.author'}) }}

            {% for message in form.title.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.title.label }}
            {{ form.title(required='', **{'ng-model': 'data.title'}) }}

            {% for message in form.article.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.article.label }}
            {{ form.article(rows=15, required='', **{'ng-model': 'data.article'}) }}

            {{ form.submit }}
        </form>
    {% endif %}
</div>
{% endblock %}


