{% extends "layout.html" %}
{% block content %}
<div class="content">
    <ul class="list-inline text-center">
        {% for x in ['blog', 'events'] %}
            {% if x == section %}
                <li>{{ x }}</li>
            {% else %}
                <li><a href="/contribute/{{ x }}">{{ x }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    {% if success %}
        <h2>Thank you!</h2>
        <p>Your article will now be checked and moderated. If anything is ok it will be published here.</p>
    {% else %}
        {% block form %}
        {% endblock %}
    {% endif %}
</div>
{% endblock %}

