{% extends "layout.html" %}
{% block content %}
{% if posts %}
{% for post in posts %}
<article>
    <h1>
        <a href="{{ post.path }}.html">{{ post.meta.title }}</a>
    </h1>

    <small class="pull-right">Created: {{ post.meta.date }}</small>
    <small>Author: {{ post.meta.author }}</small>

    {{ post.html|safe }}
</article>
{% endfor %}
<div class="content text-center">
{% if page > 1 %}
<a href="/articles/{{ page-1 }}">&lt;</a>
{% endif %}
{% for p in pages %}
{% if p == page %}
{{ p }}
{% else %}
<a href="/articles/{{ p }}">{{ p }}</a>
{% endif %}
{% endfor %}
{% if page < pages[-1] %}
<a href="/articles/{{ page+1 }}">&gt;</a>
{% endif %}
</div>
{% else %}
<div class="content">
    <p>Your articles will appear here.</p>
</div>
{% endif %}
{% endblock %}
