<!DOCTYPE html>
<html>
    <head>
        <title>atopie</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <h1 class="first-red">
                    <a href="/">Atopie</a>
                </h1>
                <nav>
                    <ul class="list-inline">
                        <li><a href="{{ url_for('posts') }}">Blog</a></li>
                        <li><a href="{{ url_for('projekt') }}">Über Atopie</a></li>
                        <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                {% block content %}
                {% endblock %}
            </main>

            <footer>
                <nav>
                    <ul class="text-right list-inline">
                        <li><a href="/contribute/">Contribute</a></li>
                    </ul>
                </nav>
            </footer>
        </div>
    </body>
</html>
