{% extends "layout.html" %}
{% block content %}
{% set file = post.path.split('/')[-1] %}
<article>
    <p>
        <a href="/moderate/">&lt;&lt; Zur&uuml;ck</a>
    </p>

    <h1>{{ post.title }}</h1>

    <small class="pull-right">Vom: {{ post.date }}</small>
    <small>Von: {{ post.author }}</small>

    {{ post.html|safe }}

    <form method="POST" action="/moderate/{{ file }}">
        <textarea name="body" rows="15">{{ post.body }}</textarea>
        <input type="submit" name="update" value="&#9398;ktualisieren">

        {% if post.path.startswith('drafts/') %}
            <input type="submit" name="unlock" value="freigeben">
        {% endif %}
        <input type="submit" name="delete" value="l&ouml;schen">
    </form>
</article>
{% endblock %}
