{% extends 'layout.html' %}
{% block content %}
<div class="content">
    {% for post in posts %}
        {% set file = post.path %}
        <div class="row">
            <h2>{{ '/'.join(post.path.split('/')[:-1]) }}/ {{ post.meta.title }}</h2>

            <form action="/moderate/{{ post.path }}">
                <input type="submit" value="preview / edit">
            </form>
            <form method="POST" action="/moderate/{{ post.path }}">
                {% if post.path.startswith('drafts/') %}
                    <input type="submit" name="unlock" value="publish">
                {% endif %}
                <input type="submit" name="delete" value="deactivate">
            </form>
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
