{% extends "layout.html" %}
{% block content %}
  <article>
    <h2>Von der Utopie und der Anarchie</h2>
    <h3>Das Experiment, zweite Phase - der Traum vom Raum</h3>
    <p>Das Basler KünstlerInnen-KuratorenInnen-Kollektiv Dr. Kuckucks Labrador
initiierte im Juni 2014 das Festival ATOPIE.
Künstlerisch motivierte Menschen, Aktivisten und Autonome wurden zum
utopischen Experiment eingeladen.
Zur Frage, welche Klüfte und Potenziale zwischen
politisch-aktivistischen und künstlerischen Lebensweisen in Basel
bestehen fand ein 3-wöchiges intensives Programm statt, in welchem
Diskussionen, Workshops, Konzerte, Informationsveranstaltungen, diverse
Projekte und eine Kunstausstellung Platz hatten. Das detaillierte
Programm kann auf der Website www.drkuckuckslabrador.ch angeschaut werden.</p>
<p>Auf Grund der grossen Resonanz und des Bedürfnisses einer weiteren
Auseinandersetzung, entwickelt sich ATOPIE zu einem Langzeitprojekt.
Momentan arbeitet das Kernteam in offenen Sitzungen mit KünstlerInnen
und Autonomen. Gemeinsam stellen wir fest, dass in Basel zunehmend Raum
von finanzstarken Grosskonzernen beansprucht und dadurch günstiger Wohn-
und Lebensraum verdrängt wird. Wir wünschen uns aber Raum, in dem alle
Bevölkerungsschichten Platz haben, den wir selbstbestimmt gestalten und
entwickeln können, ganz ohne Konsumzwang und kommerziellen Nutzen. Raum
für Gesellschaft, Kultur und alternative Lebensformen. Raum ohne
ökonomische Zwänge.</p>
<p>Wir alle brauchen Raum. Wie soll er aussehen? Wie und für wen soll er
zugänglich sein? Und was ist eigentlich Freiraum? Wie sieht dein
Freiraum aus? Freiraum träumen statt räumen!</p>
<p>Für kommenden Mai ist eine Aktionsphase im öffentlichen Raum Basel
geplant, in welcher die Methoden von KünstlerInnen, AktivistInnen und
Autonomen interventionistisch vereint werden. Geplant ist ein etwa
3-wöchiges nomadisches Festival, welches sich durch die Stadt bewegt.
Wir werden uns verschiedene Räume aneignen, bespielen und darin
eingreifen. Diese Räume können leerstehende Häuser sein, öffentliche
Plätze oder auch mediale Gefässe.
Ziele sind nicht nur die toten Räume zu beleben, sondern auch, auf die
Wohn- und Lebenssituation vieler Menschen aufmerksam zu machen und
Passanten zum Mitgestalten und Selbermachen anzuregen.</p>
<h3>EIN BASEL FÜR ALLE!</h3>

  </article>
{% endblock %}
